@{
    ViewData["Title"] = "Best Books";
}
@model BookListViewModel
<br />
@foreach (var x in Model.Bookstores)
{
<!--creates a list of the books w/ a simple bootstrap style-->
    <partial name="BookstoreSummary" model="x" />
}
<!--dynamically creating links to different page numbers based on number of items-->
<!--the class is a css style that highlights the current page-->
<div page-model="@Model.PagingInfo" page-action="Index" page-url-category="@Model.CurrentCategory"
     class="paginationhighlight"></div> 